@page "/denied"
@attribute [AllowAnonymous]

<PageTitle>Access denied</PageTitle>

<div class="denied">
    <h1>Access denied</h1>
    <p>You don't have permission to view that page.</p>
    <a class="navlink" href="">Back to chat</a>
</div>